@import "tailwindcss";

@font-face {
  font-family: "Quattro";
  src: url("/fonts/quattro.woff2") format("woff2");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Quattro";
  src: url("/fonts/quattro-bold.woff2") format("woff2");
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: "Recoleta";
  src: url("/fonts/recoleta-bold.woff2") format("woff2");
  font-weight: normal;
  font-style: normal;
}

.wrapper h1 {
  @apply font-heading py-6 text-primary scroll-mt-12.5 text-4xl;
}
.wrapper h2 {
  @apply font-heading py-6 text-primary scroll-mt-12.5 text-3xl;
}
.wrapper h3 {
  @apply font-heading py-6 text-primary scroll-mt-12.5 text-2xl;
}
.wrapper h4 {
  @apply font-heading py-6 text-primary scroll-mt-12.5 text-xl;
}
.wrapper p {
  @apply my-5 whitespace-pre-line text-secondary leading-7 animate-fade;
}
.wrapper blockquote {
  @apply pl-4 border-l-4 bg-quote-bg border-primary my-1 animate-fade;
}
.wrapper pre {
  @apply relative py-4 px-4 rounded-md bg-code-bg text-secondary text-sm break-all wrap-break-word whitespace-pre-wrap;
}
.wrapper code, strong {
  @apply text-secondary animate-fade font-bold;
}
.wrapper li, thead, tbody, th {
  @apply text-secondary animate-fade;
}
.wrapper a {
  @apply underline italic;
}
.wrapper ol {
  @apply text-secondary list-decimal pl-8;
}
.wrapper ul {
  @apply text-secondary list-disc pl-8;
}
.wrapper table {
  @apply text-secondary border-2 w-full animate-fade;
}
.wrapper tr {
  @apply text-secondary border-b-2 animate-fade;
}
.wrapper td {
  @apply text-secondary py-2 px-2 align-top animate-fade;
}
.wrapper hr {
  @apply text-secondary;
}

@theme {
  --font-sans: "Quattro", sans-serif;
  --font-body: "Quattro", sans-serif;
  --font-heading: "Recoleta", sans-serif;
  --color-transparent: transparent;
  --color-current: currentColor;
  --color-bg: "rgb(var(--color-bg))";
  --color-primary: "rgb(var(--color-primary))";
  --color-secondary: "rgb(var(--color-secondary))";
  --color-link: "rgb(var(--color-link))";
  --color-link-contrast: "rgb(var(--color-link-contrast))";
  --color-disabled: "rgb(var(--color-disabled))";
  --color-code-bg: "rgb(var(--color-code-bg))";
  --color-quote-bg: "rgb(var(--color-quote-bg))";
  --shadow-3xl: 0px 0px 20px -4px rgb(var(--color-primary));

  --bg-hr: linear-gradient(
    to right,
    rgb(var(--color-bg)),
    rgb(var(--color-primary)),
    rgb(var(--color-bg))
  );

  /* Animations */
  @keyframes fadeIn {
    0% { opacity: 0.5 }
    100% { opacity: 1 }
  }

  @keyframes fadeOut {
    0% { opacity: 1 }
    100% { opacity: 0 }
  }
  /* Other customizations */
  --backdrop-blur-xs: 7px;
  --underline-offset-30: -0.5rem;
  --bd-filter: backdrop-blur-ld backdrop-brightness-110 backdrop-saturate-120;

  --animate-fade: fadeIn 0.3s ease-in-out forwards;
}

:root {
  --color-bg: 253 253 253;
  --color-primary: 40 37 36;
  --color-secondary: 74 69 69;
  --color-link: 255 215 0;
  --color-link-contrast: 145 0 248;
  --color-disable: 35 35 35;
  --color-code-bg: 240 240 240;
  --color-quote-bg: 249 250 229;
}

.dark {
  --color-bg: 40 40 40;
  --color-primary: 253 253 253;
  --color-secondary: 211 211 211;
  --color-link: 145 0 248;
  --color-link-contrast: 255 215 0;
  --color-disable: 200 200 200;
  --color-code-bg: 51 51 51;
  --color-quote-bg: 57 45 61;
}

a.special {
  text-decoration: none;
  box-shadow: inset 0 -1px 0 rgb(var(--color-link)), 0 1px 0 rgb(var(--color-link));
  transition: box-shadow .5s;
  color: rgb(var(--color-primary));
  overflow: hidden;
}

a.special:hover {
  box-shadow: inset 0 -30px 0 rgb(var(--color-link)), 0 2px 0 rgb(var(--color-link));
  color: rgb(var(--color-primary));
}

body {
  background-color: rgb(var(--color-bg));
  color: rgb(var(--color-primary));
  font-family: var(--font-body);
  transition: background-color 0.3s ease, color 0.3s ease;
}

html {
  scroll-behavior: smooth;
  font-family: var(--font-body);
  overscroll-behavior: none;
  overflow: scroll;
  color-scheme: light dark;
}

html.transition-none * {
  transition: none !important;
}

html,
body,
code,
pre,
blockquote,
p,
h1,
h2,
h3,
h4,
h5,
h6,
span {
  transition: background-color 0.3s ease, color 0.3s ease, border-color 0.3s ease;
}
pre,
code {
  transition: background-color 0.3s ease, color 0.3s ease;
}

html:not(.dark) .astro-code span[style] {
  color: var(--shiki-light) !important;
  background-color: transparent !important;
  font-weight: normal;
}

html.dark .astro-code span[style] {
  color: var(--shiki-dark) !important;
  background-color: transparent !important;
  font-weight: normal;
}

html:not(.dark) .astro-code {
  background-color: #f4f2f0 !important;
}

html.dark .astro-code {
  background-color: #1d1f21 !important;
}
